@use "../../styles/mixins.scss"as mixin;

.sectionContainer{
    @include mixin.flex-column-nowrap(center, center);
    .main{
        @include mixin.flex-column-nowrap(center, center);
        background-color: var(--yellow);
        width: 100vw;
        .mainLogo{
            width: 90px;
            height: 110px;
            margin: -60px 0 0 -57%;
            @media(min-width:425px){
                margin: -60px 0 0 -67%;            }
        }

        .mainContent{
            @include mixin.flex-column-nowrap(center, center);
            width: 100%;
            .mainContentLogoContainer{
                @include mixin.flex-column-nowrap(center, center);
                width: 84%;
                max-width: 269px;
                .logo{
                    @include mixin.flex-row-nowrap(center, flex-start);
                    width: 100%;
                    margin-bottom: 5px;

                    .mainContentLogoImg{
                        margin-right: 0.95%;
                        height: 29px;
                    }
                    .mainContentLogoTitle{
                        width: max-content;
                        height: auto;
                        font-family: var(--montserrat-font);
                        font-size: 1.2rem;
                        font-weight: bold;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: 1.2rem;
                        letter-spacing: normal;
                        text-align: left;
                        color: #3c3c3c;
                        margin-top: 2%;
                        padding-left: 2%;
                    }
                }

                .mainContentLogoText{
                    font-family: var(--noto-font);
                    font-weight: 600;
                    font-size: 0.9rem;
                    line-height: 1rem;
                    text-align: center;
                    color: var(--second-orange);
                    width: 229px;
                    height: 37px;            
                    align-self: center;
                }

            }

            .linkContainer{
                @include mixin.flex-row-nowrap(center, space-between);
                width: 273px;
                padding: 0;
                .link{
                    text-decoration: none;
                    font-family: var(--noto-font);
                    font-size: 1rem;
                    font-weight: 600;
                    line-height: 1.33rem;
                    text-align: center;
                    color: var(--white);
                    border-bottom: 2px solid var(--first-orange);
                }
            }
        }

        .languageCourses{
            .title{
                font-family: var(--noto-font);
                font-size: 1rem;
                font-weight: 700;
                line-height: 1.42rem;
                text-align: left;
                color: var(--second-orange);
                margin-bottom: 21px;
            }
            .contentContainer{
                .content{
                    @media(max-width:767px){
                        display: none;
                    }
                }
            }
        }
    
        .specialCourses{
            .title{
                font-family: var(--noto-font);
                font-size: 1rem;
                font-weight: 700;
                line-height: 1.42rem;
                text-align: left;
                color: var(--second-orange);
                margin-bottom: 21px;
            }
    
            .contentContainer{
                .content{
                    @media(max-width:767px){
                        display: none;
                    }
                }
            }
        }
    

    }

    .footer{
        @include mixin.flex-column-nowrap(center, center);
        width: 100vw;
        background-color: var(--violet);
        color: var(--white);
        font-family: var(--noto-font);
        font-weight: 700;
        font-size: 0.813rem;
        .allRightsReserved{
            @include mixin.flex-column-nowrap(center, center);
            width: 90%;
            text-align: center;
            margin: 20px 0 15px 0;
            line-height: 1.9rem;
        }
        .socialMedia{
            @include mixin.flex-row-nowrap(center, space-between);
            width: 64%;
            margin-bottom: 15px;
            @media(min-width:375px){
                width: 100%;
                max-width: 199px;
            }
            @media(min-width:425px){
                max-width: 192px;
            }
            .socialMediaIcon{
                margin: 0 2%;
                width: 35px;
            }

        }
        .termsContainer{
            @media(max-width:767px){
                display: none;
            }
        }
    }



}