@use "../../styles/mixins.scss"as mixin;

.letsLearnContainer{
    position: relative;
    top:10px;
    @include mixin.flex-column-nowrap(center, center);
    .greenCircle{
        position: absolute;
        top: 164px;
        left: 0;
        width: 46.5%;
        height: auto;
        max-height: 545px;
        z-index: -1;
        @media(min-width:680px){
            width: 40%;
            top: 90px;
        }
        @media(min-width:768px){
            width: 206px;
            height: 327px;
            top: -82px;
            position: absolute;
            z-index: 1;
            left: -9px;
            max-height: none;
        }
        @media(min-width:1170px){
            width: 229px;
            height: 367px;
            top: -82px;
        }
        @media(min-width:1250px){
            width: 267px;
            height: 451px;
            top: -90px;
        }
        @media(min-width:1250px){
            width: 315px;
            height: 519px;
        }
    }
    .headerContainer{
        @include mixin.flex-column-nowrap(center, center);
        margin-bottom: 25px;
        @media(min-width:768px){
            margin-bottom: 38px;
        }
        .titleH1{
            @include mixin.flex-column-nowrap(center, center);
            font-family: var(--montserrat-font);
            .firstLine{
                color: var(--blue);
                font-weight: 600;
                font-size: 1.7rem;
                @media(min-width:768px){
                    font-size: 2.5rem;
                }
                @media(min-width:1290px){
                    font-size: 2.8rem;
                }
            }
            .secondLine{
                color: var(--blue);
                font-weight: 600;
                font-size: 3.25rem;
                line-height: 3rem;
                margin-bottom: 4px;
                @media(min-width:768px){
                    font-size: 4rem;
                }
                @media(min-width:1290px){
                    font-size: 5rem;
                    line-height: 4rem;
                }
            }
            .thirdLine{
                @include mixin.flex-row-nowrap(center, center);
                color: var(--second-orange);
                font-weight: 600;
                font-size: 1.1rem;
                @media(min-width:768px){
                    font-size: 1.35rem;
                }
                @media(min-width:1290px){
                    font-size: 1.8rem;
                }
            }
        }

    }

    .mainContainer{
        @include mixin.flex-column-nowrap(center, center);
        @media(min-width:768px){
            @include mixin.flex-row-nowrap(center, space-around);
        }
        .cards{
            @include mixin.flex-column-nowrap(center, space-between);
            width: 80%;
            max-width: 320px;
            margin-bottom: 20px;
            border-radius: 30px;
            box-shadow: 0 3px 8px 0 rgb(0 0 0 / 16%);
            background-color: var(--white);
            text-align: center;
            min-height: 409px;
            z-index: 2;
            @media(min-width:375px){
                max-width: 350px;
            }
            @media(min-width:425px){
                max-width: 360px;
            }
            @media(min-width:425px){
                max-width: 380px;
            }
            @media(min-width:768px){
                width: 31%;
                min-height: 450px;
                max-width: 350px;
            }

            @media(min-width:1330px){
                max-width: 400px;
            }

            .imgContainer{
                width: 100%;
                .img{
                    border-radius: 30px 30px 0 0;
                    width: 100%;
                    margin-bottom: 10px;
                    max-height: 191px;
                }
            }

            .titleContainer{
                width: 80%;
                height: 40px;
                margin-top: 10px;
                @media(min-width:978px){
                    width: 100%;
                }

                .title{
                    font-family: var(--montserrat-font);
                    font-size: 0.9rem;
                    font-weight: 600;
                    line-height: 1rem;
                    text-align: center;
                    color: var(--violet);
                }
            }

            .textContainer{
                width: 90%;
                height: 130px;
                margin: 10px 0 10px 0;
                @media(min-width:768px){
                    margin: 10px 0 35px 0;
                }
                @media(min-width:850px){
                    margin: 10px 0 20px 0;
                }
                @media(min-width:1020px){
                    margin: 10px 0 10px 0;
                }
                .text{
                    text-align: center;
                    font-family: var(--montserrat-font);
                    font-size: 0.8rem;
                    font-weight: 600;
                    line-height: 1.19rem;
                    color: var(--gray);
                    
                }
            }


            .btn{
                min-width: 38%;
                height: auto;
                padding: 3.2% 9%;
                border-radius: 24px;
                border: none;
                text-align: center;
                margin-bottom: 8.5%;
                background-color: var(--blue);
                font-size: 0.875rem;
                font-weight: 600;
                line-height: 1.38rem;
                color: var(--white);
                text-decoration: none;
                font-family: var(--montserrat-font);
                font-weight: 600;
                &:hover{
                    background-color: var(--blue-hover);
                }
                &:active{
                    background-color: var(--blue-active);
                }
            }
        }

        .yellowCircle{
            position: absolute;
            left: 0;
            bottom: 3px;
            z-index: -1;
            width: 100%;
            height: 600px;

            @media(min-width:425px){
                height: 43%;
                bottom: -20px;
            }
            @media(min-width:459px){
                height: 44%;
                bottom: -36px;
                object-fit: cover;
            }
            @media(min-width:470px){
                height: 47%;
                bottom: -36px;
            }
            @media(min-width:500px){
                height: 49%;
                bottom: -80px;
                transform: scaleY(0.8);
            }
            @media(min-width:520px){
                height: 51%;
            }
            @media(min-width:545px){
                height: 53%;
                bottom: -86px;
            }
            @media(min-width:560px){
                height: 58%;
            }
            @media(min-width:600px){
                height: 65%;
                bottom: -105px;
            }

            @media (min-width:678px) and (max-width:767px){
                width: 65%;
                height: 52%;
                left: 35%;
            }

            @media(min-width:768px){
                height: 489px;
                width: 345px;
                bottom: 5px;
                transform: scale(1);
                left: unset;
                right: 0;
            }

            @media(min-width:992px){
                height: 544px;
                width: 388px;
                bottom: -25px;
            }

            @media(min-width:1040px){
                height: 657px;
                width: 466px;
                bottom: -62px;
                transform: scaleY(0.9);
            }

            @media(min-width:1180px){
                height: 796px;
                width: 567px;
                bottom: -140px;
                transform: scaleY(0.75);
            }

            @media(min-width:1330px){
                height: 922px;
                width: 650px;
                bottom: -204px;
            }


        }
    }
}