@use "../../styles/mixins.scss"as mixin;
.loader{
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: nowrap !important;
    align-items: center !important;
    justify-content: center !important;
    width: 100% !important;
    background-color: var(--yellow) !important;
    .text{
        color: var(--green);
        font-family: var(--montserrat-font);
        font-size: 0.8rem;
        line-height: 0.85rem;
    }
}