@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;500;600;700&family=Noto+Sans:wght@400;600;700&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    font-size: 16px;
    --black: #3c3c3c;
    --first-orange: #fe5757;
    --second-orange: #eb585a;
    --second-orange-hover: rgba(235, 88, 90, 0.71);
    --second-orange-active: #ce1719;
    --violet: #512583;
    --violet-hover: #7e6e91;
    --violet-active: #2b0457;
    --yellow: #f9c640;
    --yellow-hover: #f2dda6;
    --yellow-active: #f8b811;
    --blue: #2f6fb6;
    --blue-hover: #6e95bf;
    --blue-active: #005e9e;
    --gray: #9d9a9a;
    --white: #fcfcfc;
    --red:#EB585A;
    --green: #3dad52;

    --montserrat-font: 'Montserrat', sans-serif;
    --noto-font: 'Noto Sans', sans-serif;
}

